{% if pluginSettings.enabled and (settings.dgAddCats or settings["dg-add-cats"]) %}
<script data-add-cats="1"
        data-count="{{ pluginSettings.count }}"
        data-scale="{{ pluginSettings.scale }}"
        data-mode="{{ pluginSettings.summonMode }}"
        data-skin="{{ pluginSettings.skin }}"
        data-assets="/plugins/add-cats/assets/"
        data-chroma-key="{{ pluginSettings.chromaKey }}"
        data-tint="{{ pluginSettings.tint }}"
        data-tints='{{ pluginSettings.tints }}'
        data-skins='{{ pluginSettings.skins }}'
        data-speeds='{{ pluginSettings.speeds }}'></script>
{% endif %}